/*
  General
*/
a {
  color: $black;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-content: center;
}
.content__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}
/*
  Header Component
*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: grey;
}
/*
  SideBar Component
*/
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: pink;
  width: 100%;
  padding: 1rem;
}
/*
  ItemCard Component
*/
.itemCard {
  display: grid;
  grid-template-columns: 1fr 1fr repeat(2, auto);
  gap: 1rem;
  color: $black;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 2px $grey;
}
.itemCard__btn {
  &:hover {
    text-decoration: underline;
  }
}
/*
  Footer Component
*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: grey;
}